{% extends 'base.html.twig' %}

{% block title %}Order details{% endblock %}

{% block body %}
    <h1>Order details</h1>

    <table>
        <tr>
            <th>ID</th>
            <td>{{ commande.id }}</td>
        </tr>
        <tr>
            <th>État</th>
            <td>{{ commande.etat }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Item</th>
            <td>{{ commande.item.id }}</td>
        </tr>
    </table>

    <a href="{{ path('commande_index') }}">Back to the list</a>
    <a href="{{ path('commande_edit', {'id': commande.id}) }}">
    <button type="button" class="btn btn-warning">Edit</button></a>
    <form method="post" action="{{ path('commande_delete', {'id': commande.id}) }}" style="display:inline-block">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}
